*{
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    width: 100%;
    background-color: rgb(169, 248, 169);
}

#container{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#userInterface{
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;

    align-items: center;
}

button{
    width: 200px;
    height: 50px;
    border-radius: 5px;
}

#gameContainer{
    display: flex;
    justify-content: center;
}

#game {
    display: grid;

}

.cell {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    background-color: rgb(120, 182, 202);
    border: 1px solid gray;
    text-align: center;
}

.mine {
    background-color: blue;
}

#statistics{
    margin: 30px;
    line-height: 25px;
}
